@charset "utf-8";
/* CSS Document */


#texto-intro p {
	color:#fff; 
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	margin-top:50px;
}

#texto-intro h1 {text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);}

.sobre {margin: 0px;}

#lojas ul {list-style: none;} 
#lojas a {color:#fff}

#cerimonia {color:#fff}